<div class="error" style="" >
  Sorry, we couldn't think of anything related to your favorite stuff right now.<br>
  <strong>1.</strong> <strong>Check your spelling</strong> - maybe you've slipped a mistake.<br>
  <strong>2.</strong> Be sure you wrote <strong>the correct (full) title of your favorite stuff</strong>.<br>
  <strong>3.</strong> If you've written me more than one favorite band/movie/book/show/author/game, be sure to <strong>separate these titles using commas</strong>.<br>
  If none of these works for you, please <strong>try searching for more popular bands, movies, shows, books, authors or games</strong> in the same genre.
</div>
<h2>here are some trending searches</h2>
