<% provide(:title, 'Help') %>
<div class="hero-unit">
  <h2>About e-buZZ</h2>
  This is a website build on ruby on rails and this gives you similar search results for your favourite movies, shows, authors, books, music, games. 
</div>
