<% provide(:title, 'Help') %>
<div class="hero-unit">
  <h2>About e-buZZ</h2>
  This is a online platform built on ruby on rails, nokogiri, bootstrap that gives you similar search results for your favourite movies, shows, authors, books, music, games. 
</div>
