<% provide(:title, 'Help') %>
<div class="hero-unit">
  <h2>About e-buZZ</h2>
  This is an online platform powered by ruby on rails and nokogiri that provide recommendations and help you discover new music, movies, shows, books, authors or games, based on what you like. Some call me a recommendation system or a discovery engine, but I prefer to simply be called e-buZZ. 
</div>
